{% load i18n %}

<footer>
    <p>{% trans "Footer" %}</p>
    <form action="/set_language/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}" />
        <select name="language">
            <option value="pl" {% if LANGUAGE_CODE == 'pl' %}selected{% endif %}>{% trans "Polish" %}</option>
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>{% trans "English" %}</option>
        </select>
        <button type="submit">{% trans "Change language" %}</button>
    </form>
</footer>
