{% load i18n %}

<div class="login">
    {% if user.is_authenticated %}

        <form method="post" action="{% url 'Authentication:logout' %}">
            {% csrf_token %}
            <button type="submit">{% trans "Log out" %}</button>
        </form>

    {% else %}

        <form method="post" action="{% url 'Authentication:login' %}">
            {% csrf_token %}
            <button type="submit">{% trans "Log in" %}</button>
        </form>

        <form method="post" action="{% url 'Authentication:signup' %}">
            {% csrf_token %}
            <button type="submit">{% trans "Sign up" %}</button>
        </form>

    {% endif %}
</div>


<nav>
    {% if user.is_authenticated %}
        <a href="{% url 'Authentication:profile' %}">{% trans "User profile" %}</a>
        <a href="{% url 'Blog:post_create' %}">{% trans "Add new post" %}</a>
        <a href="{% url 'Blog:post_list' %}">{% trans "Post list" %}</a>
    {% else %}
        <a href="{% url 'Blog:post_list' %}">{% trans "Post list" %}</a>
    {% endif %}
</nav>



