{% extends '../form.html' %}
{% load static %}
{% load i18n %}

long
{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">

        <h2>
            {% if form.instance.pk %}
                {% trans "Edit post" %}
            {% else %}
                {% trans "Add post" %}
              {% endif %}
        </h2>

            {% csrf_token %}
            {{ form.as_p }}
            <hr>

        <h2>{% trans "Manage gallery" %}</h2>

            <h3>{% trans "Upload photos" %}</h3>
                {{ photo_form.images }}
            <hr>

        {% if manage_photo_formset %}

        <!--    Management fields is necessarily    -->
            {{ manage_photo_formset.management_form }}

            <h3>{% trans "Choose main image" %}</h3>

                <div class="photo-thumbnails">
                    {% for photo in photos %}
                        <label class="photo-thumbnail">
                            <input type="radio" name="photo" value="{{ photo.id }}" class="photo-radio">
                            <img src="{{ photo.thumbnail.url }}" alt="{{ photo.caption }}" class="thumbnail-image">
                        </label>
                    {% endfor %}
                </div>

            <hr>

            <h3>{% trans "Delete photos" %}</h3>
                  <div class="existing-photos">
                      {% for form in manage_photo_formset %}
                          <div class="photo-entry">
                              <div>
                                  {% if form.instance.image %}
                                      <img src="{{ form.instance.image.url }}" alt="{{ form.instance.caption }}" width="150">
                                  {% else %}
                                      <p>No image available</p>
                                  {% endif %}
                              </div>
                              {{ form.as_p }}
                          </div>
                      {% endfor %}
                  </div>
        {% endif %}

        <!-- Mapa Google -->
        <h3>{% trans "Select location on the map" %}</h3>

        <input type="text" id="place_name" name="place_name" placeholder="{% trans 'Location name' %}" value="{{ form.place_name.value }}" readonly>
        <div id="map" style="width: 500px; height: 400px; padding: 5px; margin: 5px;"></div>

        <!-- Hidden fields to store selected data -->
        <input type="hidden" id="location_url" name="location_url" value="{{ form.location_url.value|default:'' }}">
        <input type="hidden" id="latitude" name="latitude" value="{{ form.latitude.value|default:'' }}">
        <input type="hidden" id="longitude" name="longitude" value="{{ form.longitude.value|default:'' }}">

        <button type="submit">
          {% if form.instance.pk %}
            {% trans "Save changes" %}
          {% else %}
            {% trans "Add Post" %}
          {% endif %}
        </button>
    </form>

    <!-- Load external JS file -->
    <script async defer src="{% static 'js/map-to-create-post.js' %}"></script>

    <!-- Script for Google Maps API -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap"></script>

{% endblock %}