{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <h2>{{ post.title }}</h2>

  <p>{{ post.content }}</p>

  {% if gallery %}
    <h3>{% trans "Gallery" %}</h3>
    <div class="post-gallery">
      {% for photo in gallery.photos.all %}
        <div class="photo">
          <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
          {% if photo.caption %}
            <p>{{ photo.caption }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if post.location_url %}
    <p><strong>{% trans "Location name" %}:</strong> {{ post.place_name }}</p>
    <p><a href="{{ post.location_url }}" target="_blank">{% trans "View on map" %}</a></p>

  <!--  czy tworzyć posty wprowadzane bez lokalizacji?  -->
  {% elif post.place_name %}
    <p><strong>{% trans "Location name" %}:</strong> {{ post.place_name }}</p>
  {% endif %}

  {% if post.estimated_time %}
    <p><strong>{% trans "Visiting time" %}:</strong> {{ post.estimated_time }}</p>
  {% endif %}

  <p><strong>{% trans "Author" %}:</strong> {{ post.author.username }}</p>
  <p><strong>{% trans "Creation date" %}:</strong> {{ post.created_at|date:"d M Y" }}</p>

  {% if tags %}
    <h4>{% trans "tags" %}:</h4>
    <ul>
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <a href="{% url 'Blog:post_list' %}">{% trans "Post list" %}</a>
{% endblock %}
