{% extends '../form.html' %}
{% load static %}
{% load i18n %}

long
{% block content %}

    <form action="" method="POST" enctype="multipart/form-data">

        <h2>{% trans "Add post" %}</h2>

            {% csrf_token %}
            {{ form.as_p }}

        <h2>{% trans "Add gallery" %}</h2>
            {{ gallery_form.as_p }}

        <h2>{% trans "Add photos" %}</h2>
            {{ photos_formset.management_form }}
            {% for form in photos_formset %}
                {{ form.as_p }}
            {% endfor %}

<!--        <h3>{% trans "Upload Photos" %}</h3>-->
<!--            {{ photo_form.as_p }}-->

        <!-- Mapa Google -->
        <h3>{% trans "Select location on the map" %}</h3>

        <input type="text" id="place_name" name="place_name" placeholder="{% trans "Location name" %}" value="{{ form.place_name.value }}" readonly>
        <div id="map" style="width: 500px; height: 400px; padding: 5px; margin: 5px;"></div>

        <!-- Hidden fields to store selected data -->
        <input type="hidden" id="location_url" name="location_url" value="{{ form.location_url.value }}">
        <input type="hidden" id="latitude" name="latitude" value="{{ form.latitude.value }}">
        <input type="hidden" id="longitude" name="longitude" value="{{ form.longitude.value }}">



        <input type="submit" value="{% trans "Add post" %}">
    </form>

    <!-- Script for Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap" async defer></script>

    <!-- Load external JS file -->
    <script src="{% static 'js/map-to-create-post.js' %}"></script>

{% endblock %}