{% extends 'base.html' %}

{% block content %}

  {% if post.main_image %}
    <h3>{{ texts.blog.mainImage }}</h3>
    <img src="{{ post.main_image.url }}" alt="Main image of {{ post.title }}">
  {% endif %}

  <h2>{{ post.title }}</h2>
  <p>{{ post.content }}</p>

  {% if images %}
    <h3>{{ texts.blog.gallery }}</h3>
    <div class="post-images">
      {% for image in images %}
        <img src="{{ image.image.url }}" alt="Image for {{ post.title }}">
      {% endfor %}
    </div>
  {% endif %}

  {% if post.location_link %}
    <p><strong>{{ texts.blog.locationName }}:</strong> {{ post.location_name }}</p>
    <p><a href="{{ post.location_link }}" target="_blank">{{ texts.blog.viewOnGoogleMaps }}</a></p>
  {% endif %}

  {% if post.estimated_time %}
    <p><strong>{{ texts.blog.estimatedTime }}:</strong> {{ post.estimated_time }}</p>
  {% endif %}

  <p><strong>{{ texts.blog.postAuthor }}:</strong> {{ post.author.username }}</p>
  <p><strong>{{ texts.blog.createdDate }}:</strong> {{ post.created_at|date:"d M Y" }}</p>

  {% if tags %}
    <h4>{{ texts.blog.tags }}:</h4>
    <ul>
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <a href="{% url 'Blog:post_list' %}">{{ texts.blog.postList }}</a>
{% endblock %}
