{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  {% if post.main_image %}
    <img src="{{ post.main_image.url }}" alt="Main image of {{ post.title }}">
  {% endif %}

  <h2>{{ post.title }}</h2>

  <p>{{ post.content }}</p>

  {% if images %}
    <h3>{% trans "Gallery" %}</h3>
    <div class="post-images">
      {% for image in images %}
        <img src="{{ image.image.url }}" alt="Image for {{ post.title }}">
      {% endfor %}
    </div>
  {% endif %}

  {% if post.location_url %}
    <p><strong>{% trans "Location name" %}:</strong> {{ post.place_name }}</p>
    <p><a href="{{ post.location_url }}" target="_blank">{% trans "View on map" %}</a></p>

<!--  czy tworzyć posty wprowadzane bez lokalizacji?  -->

  {% elif post.place_name %}
    <p><strong>{% trans "Location name" %}:</strong> {{ post.place_name }}</p>
  {% endif %}

  {% if post.estimated_time %}
    <p><strong>{% trans "Visiting time" %}:</strong> {{ post.estimated_time }}</p>
  {% endif %}

  <p><strong>{% trans "Author" %}:</strong> {{ post.author.username }}</p>
  <p><strong>{% trans "Creation date" %}:</strong> {{ post.created_at|date:"d M Y" }}</p>

  {% if tags %}
    <h4>{% trans "tags" %}:</h4>
    <ul>
      {% for tag in tags %}
        <li>{{ tag.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <a href="{% url 'Blog:post_list' %}">{% trans "Post list" %}</a>
{% endblock %}
