
{% load static %}
{% load i18n %}

<!Doctype html>

<html lang="en">
    <head>
        {% block head %}
            {% include 'static_html/head.html' %}
        {% endblock %}
    </head>
    <body>

        {% block header %}
            {% include 'static_html/header.html' %}
        {% endblock %}


        {% block navigation %}
            {% include 'static_html/navigation.html' %}
        {% endblock %}


        <div class="content">
            {% block content %}

            {% endblock %}
        </div>


        {% block footer %}
            {% include 'static_html/footer.html' %}
        {% endblock %}



    </body>
</html>